{% extends 'base.html' %}

{% block content %}
    <h3>{{ user.full_name }}</h3>
    <small>{{ user.phone_number }}</small>
    <p>{{ user.email }}</p>
    {% if request.user.id == user.id%}
        <a href="{% url 'account:user_profile_edit' user.id %}" class="btn btn-info">Edit Profile</a>
        <a href="{% url 'home:post_create' %}" class="btn btn-info">Leave a post</a><br/><hr/>
    {% endif %}
    {% if request.user.id != user.id and not is_following%}
        <a href="{% url 'account:user_follow' user.id %}" class="btn btn-primary">Follow</a>
    {% elif request.user.id != user.id and is_following %}
        <a href="{% url 'account:user_unfollow' user.id %}" class="btn btn-primary">UnFollow</a>
    {% endif %}
    {% for post in posts %}
        <a href="{% url 'home:post_detail' post.id post.slug %}">{{ post.body|truncatewords:8 }}</a><br/>
    {% endfor %}
{% endblock %}